* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.avi-container {
    display: flex; 
    align-items: baseline ;
  }

.avi {
    border-radius: 100%; 
    border: 1px solid black;
}
